.parent {
    background-color: whitesmoke;
}
a:link {
    color: orange;
}
a:visited {
    color: green;
}
a:hover {
    color: purple;
}
a:active {
    color: red;
}
div p:nth-child(4) {
    color: red;
}
div p:nth-child(7) {
    color: blue;
}
.parent :not(p) {
    text-decoration: line-through;
}